QTreeView {
    border: none;
    /*show-decoration-selected: 1;*/
    /*selection-background-color: green; !* Used on Mac *!*/
    /*selection-color: white; !* Used on Mac *!*/
    /*selection-border-radius: 2px;*/
    /*selection-margin: 2px;*/
    outline: none;
    padding: 3px 5px 5px 3px;
}

QTreeView::item:selected:active {
    background-color: $SELECTED_BG;
    color: $SELECTED_FG;
    border-left: 4px solid $SELECTED_BG;
}

QTreeView::item:selected:!active {
    color: $SECONDARY_FG;
    background-color: $SECONDARY_BG;
    border-left: 4px solid $SECONDARY_BG;
}

QTreeView::item {
    margin: 0 4px 0 0;
    border-left: 4px solid transparent;
    background: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

QTreeView::branch {
    border: none;
    margin: 0;
    image: none;
}

QTreeView::branch:selected:active {
    border-left: none;
    background-color: $SELECTED_BG;
    color: $SELECTED_FG;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

QTreeView::branch:selected:!active {
    border-left: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    color: $SECONDARY_FG;
    background-color: $SECONDARY_BG;
}

QTreeView QLineEdit {
    border-radius: 0;
}